
<h1>HELLO WORLD!</h1>


<p><%= link_to "Click to flee!", "http://www.dailymail.co.uk/news/article-2616670/He-let-collection-drop-50-Man-makes-lifes-mission-collect-VHS-Keanu-Reeves-film-Speed.html", {:class => 'btn btn-primary'} %> </p>
